.tittle {
  font-size: 35px;
  color: #43425d;

  margin-left: 20px;
  letter-spacing: 4px;
  text-indent: 18px;
}

.sign-div {
  margin: auto;
  width: 50%;
  margin-top: 139px;
}

.tittle-1 {
  font-size: 35px;
  color: #43425d;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.tittle-2 {
  font-size: 35px;
  color: #43425d;
  margin-left: 40px;
  letter-spacing: 6px;
}

.div-h-2 {
  margin: auto;
  width: 50%;
  padding: 25px;
}

.h-2 {
  text-align: center;
  color: #817e7e;
  size: 18px;
  letter-spacing: 2px;
}

.inputs {
  margin: auto;
  width: 100%;
}

.input-wraper {
  text-align: center;
}
.section-1 {
  margin-top: 55px;
}
.input {
  width: 350px;
  height: 50px;
  background-color: E8E8E8;
  border-color: #f5f5f7;
  border-style: outset;
  border-right: none;
}

input:focus {
  outline: none;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.forgot {
  float: right;
  padding-left: 150px;
}

.box-tittle {
  font-size: 15px;
  color: #43425d;
  font-family: regular;
}

.section-3 {
  width: 100%;
  display: flex;

  justify-content: center;
}

.blocks {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.block-div {
  width: 160px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  padding-right: 25px;
}

.block-div-1 {
  width: 160px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  padding-right: 25px;
}

.circle-2 {
  width: 160px;
  height: 40px;
  background-color: #43425d;
  border-radius: 4%;
  margin: 0 auto;
  margin-right: 10px;
}
.circle-3 {
  width: 160px;
  height: 40px;
  background-color: beige;
  border-radius: 4%;
  border-color: #817e7e;
  margin: 0 auto;
}

.circle-2-text-1 {
  display: flex;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
  padding-left: 30%;
}

.circle-2-text-2 {
  display: flex;
  color: #4d4f5c;
  text-align: center;
  padding-top: 12px;
  padding-left: 30%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.colored-img {
  position: relative;
}

.logo-img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-35%, -50%);
  text-align: center;
}

/* 2 page */

.singup-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-2 {
  width: 180px;
  height: 25px;
  display: block;
  margin-left: 10px;
  background-color: E8E8E8;
  border-color: #f5f5f7;
  border-style: outset;
  border-right: none;
}

.input-2:focus {
  outline: none;
  box-shadow: none;
}

.box-2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 120px;
}
.conditions {
  color: #43425d;
  font-size: 15px;
}

.circle-4 {
  width: 160px;
  height: 40px;
  background-color: #43425d;
  border-radius: 4%;
  margin: 0 auto;
  margin-right: 10px;
  margin-top: 20px;
}

.accountcheck-div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-right: 40px;
  color: #585454;
  font-size: 15px;
  text-decoration: underline;
}

/* page 3 */

.splitleft-1 {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #43425d;
}

.centered-1 {
  position: relative;
  top: 0%;
  left: 10%;
  transform: translate(-0%, -10%);
  text-align: center;
}
.log-img {
  position: absolute;
  top: 15%;
  left: 0%;
  transform: translate(-15%, -0%);
  text-align: center;
  padding-left: 13px;
}

.Dashboard {
  padding-top: 120px;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 12px;
}

.icon {
  display: flex;
  padding-bottom: 15px;
}

.fas {
  padding-right: 7px;
  color: #a3a0fb;
}

.splitright2 {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #f5f5f0;
  right: 0;
}

.todoh5 {
  font-size: 28px;
  color: #43425d;
  font-weight: normal;
  padding-top: 25px;
  padding-left: 50px;
  margin-bottom: 15px;
}

.tododiv {
  margin-left: 6%;

  width: 1100px;
  background-color: #ffffff;
}

.alltodo {
  color: #4d4f5c;
  size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.circle-2-text-4 {
  display: flex;
  color: #ffffff;
  text-align: center;
  padding-top: 7px;
  padding-left: 30%;
}

.circle-5 {
  width: 120px;
  height: 30px;
  background-color: #3b86ff;
  border-radius: 5%;
  margin: 0 auto;
  margin-right: 10px;
  margin-top: 27px;
}

th,
td {
  padding: 15px;
  text-align: left;
}

.tr {
  size: 18px;
  color: #a3a6b4;
  background-color: #f5f5f0;
  font-weight: bold;
}
.tr2 {
  color: #4d4f5c;
  size: 13px;
  font-weight: normal;
}
.check {
  color: #10b981;
}

table {
  margin: 15px;
}

.head {
  display: flex;
}

.circle-8 {
  width: 62px;
  height: 20px;
  background-color: #43425d;
  margin: 0 auto;
  margin-right: 10px;
  margin-top: 27px;
  border-radius: 8%;
}
.circle-2-text-8 {
  display: flex;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-left: 30%;
  font: normal;
}
.td-div {
  display: flex;
  margin-left: 30px;
}

.circle-9 {
  width: 62px;
  height: 20px;
  background-color: #ff6565;
  text-align: center;
  margin: 0 auto;
  border-radius: 8%;
  margin-top: 27px;
}
